* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(15, 22, 36);
    color: white;
}

header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

main {
    margin: 0 150px 0 150px;
}

h1 {
    font-size: 45px;
}

.contenedor--presentacion {
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.contenedor--presentacion p {
    font-size: 28px;
    margin-top: 20px;
    line-height: 33px;
    max-width: 800px;
}

.contenedor--presentacion img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #1c1c1c;
    margin: 150px 0 0 200px;
}

.titulo--nombre {
    margin-top: 120px;
}

.menu--inicio {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 25px;
    padding: 10px 20px;
}

.menu--inicio ul {
    list-style: none;
    display: flex;
}

.menu--inicio li {
    margin-left: 10px;
}

.menu--inicio a {
    text-decoration: none;
    padding: 20px 20px;
    color: white;
    font-size: 18px;
    transition: color 1s ease-in-out;
}

.menu--inicio a.active {
    color: #007BFF;
}

section {
    padding-top: 80px;
}

#sobre-mi, #tecnologias, #proyectos, #contacto {
    padding-top: 80px;
    min-height: 100vh;
}

.linea-de-tiempo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 100px 0;
}

.linea-de-tiempo::before {
    content: '';
    position: absolute;
    top: 28%;
    left: 12%;
    right: 12%;
    height: 6px;
    background-color: white;
    z-index: -1;
}

.linea-de-tiempo-item {
    position: relative;
    text-align: center;
    width: 22%;
}

.linea-de-tiempo-item::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid rgb(15, 22, 36);
    z-index: 1;
}

.linea-de-tiempo-fecha {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    top: -20px;
    line-height: 1.5;
}

.linea-de-tiempo-contenido {
    padding: 15px;
    border-radius: 10px;
    margin-top: 40px;
    position: relative;
    top: -20px;
    background-color: rgb(15, 22, 36);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.linea-de-tiempo-contenido:hover {
    transform: translateY(-10px);
}

.habilidad {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 100px;
}

.habilidad p {
    flex: 1;
    font-size: 20px;
}

.barra-progreso {
    flex: 3;
    height: 15px;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
}

.progreso {
    height: 100%;
    border-radius: 10px;    
}

.html {
    width: 80%;
    background: linear-gradient(to right, #945DD6, #6978D1, #13ADC7);
}

.csharp {
    width: 80%;
    background: linear-gradient(to right, #945DD6, #6978D1, #13ADC7);
}

.sql {
    width: 80%;
    background: linear-gradient(to right, #945DD6, #6978D1, #13ADC7);
}

.javascript {
    width: 55%;
    background: linear-gradient(to right, #945DD6, #6978D1, #13ADC7);
}

.css {
    width: 30%;
    background: linear-gradient(to right, #945DD6, #6978D1, #13ADC7);
}

.nivel {
    flex: 1;
    font-size: 18px;
}

#tecnologias h1 {
    margin-bottom: 100px;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contacto-email {
    display: flex;
    align-items: left;
    justify-content: left;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 20px;
}

.contacto-linkedin {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 150px;
    background: linear-gradient(to right, #945DD6, #6978D1, #13ADC7);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
    font-size: 20px;
    border: none;
}

.contacto-email img, .contacto-linkedin img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}