* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: rgb(15, 22, 36);
}

body {    
    color: white;
}

header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.menu--inicio {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 25px;
    padding: 10px 20px;
}

.menu--inicio ul {
    list-style: none;
    display: flex;
}

.menu--inicio li {
    margin-left: 10px;
}

.menu--inicio a {
    text-decoration: none;
    padding: 20px 20px;
    color: white;
    font-size: 18px;
    transition: color 0.5s ease-in-out;
}

.menu--inicio a.active {
    color: #007BFF;
}

section {
    padding: 20px;
    margin-top: 100px;
}

#sobre-mi, #tecnologias, #proyectos, #contacto {
    padding-top: 80px;
    min-height: 100vh;
}